.solution {
    .bg {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 20.83333vw;
    }

    .list {
        width: 66.666667%;
        margin: 61px auto 0 auto;
        display: flex;
        border-bottom: 1px dotted rgba(221, 221, 221, 1);

        >div {
            flex: 1;

            .link {
                min-width: 88px;
                margin: 0 auto;

                .iconTitle {
                    width: 75px;
                    margin: 0 auto;

                    .icon {
                        height: 120px;

                        .iconBg {
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            height: 100%;
                            display: flex;

                            img {
                                margin: auto;
                                width: 60px;
                            }
                        }
                    }
                }

                .title {
                    margin-top: 24px;
                    color: rgba(128, 128, 128, 1);
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;

                    span {
                        display: inline-block;
                        padding: 0 5px 34px 5px;
                    }
                }
            }
        }

        .active {
            .title {
                span {
                    border-bottom: 3px solid rgba(40, 105, 180, 1);
                    color: rgba(40, 105, 180, 1);

                }
            }
        }

        .active:hover {
            transition: all 0.4s linear;
        }
    }

    .detailList {
        width: calc(66.666667% + 26px);
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        margin: 61px auto 0 auto;

        .detail {
            width: 25%;
            height: 320px;
            padding: 13px;

            >div {
                background: rgb(240, 240, 240);
                width: 100%;
                height: 100%;
                padding: 45px 33px 33px 33px;

                .title {
                    color: #fff;
                    background-color: rgba(40, 105, 180, 1);
                    border-radius: 2px;
                    text-align: center;
                    width: 130px;
                    height: 22px;
                    font-size: 16px;
                    line-height: 150%;
                    font-weight: bold;
                }

                .subTitle {
                    margin-top: 15px;
                    color: rgba(0, 0, 0, 1);
                    font-size: 18px;
                    text-align: left;
                    font-weight: bold;
                    height: 27px;
                }

                .text {
                    margin-top: 53px;
                    color: rgba(0, 0, 0, 1);
                    font-size: 13px;
                    height: 92px;
                    line-height: 23px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;

                    a {
                        color: rgba(0, 0, 0, 1)
                    }
                }

            }
        }
    }


    .content {
        width: 66.666667%;
        margin: 78px auto 0 auto;

        .title {
            display: flex;

            >div:nth-child(1) {
                width: 15%;
                color: rgba(0, 0, 0, 1);
                font-size: 26px;
                text-align: left;
                font-weight: bold;
                padding-bottom: 43px;
                // border-bottom: 2px solid rgba(40, 105, 180, 1);

                span,
                span a,
                span div {
                    font-size: 22px;
                    color: rgba(40, 105, 180, 1);
                    white-space: nowrap;
                    overflow: auto !important;
                }
            }

            >div:nth-child(2) {
                margin-left: 17px;
                padding-bottom: 43px;
                border-bottom: 2px solid rgba(229, 229, 229, 1);
                flex-grow: 1;
            }
        }

        .detail {
            display: flex;
            white-space: pre-line;
            line-height: 30px;

            .title {
                padding: 45px 0;

                width: 15%;
                border-top: 2px solid rgba(40, 105, 180, 1);

            }

            .info {
                border-top: 2px solid rgba(229, 229, 229, 1);

                padding: 45px 0;
                margin-left: 17px;
                padding-right: 29%;
                width: calc(85% - 17px);
                padding-left: 10px;
            }
        }

        .foot {
            width: 400px;
            height: 40px;
            margin: 163px auto 0 auto;
            display: flex;

            .footSub {

                >a {
                    color: #fff;
                }

                >div {
                    // overflow: hidden;

                    >div:nth-child(1) {
                        display: none;
                    }

                    >div {
                        line-height: 40px;
                        width: 100px;
                        height: 40px;
                        background-color: rgba(40, 105, 180, 1);
                        border-radius: 6px;
                        font-size: 14px;
                        text-align: center;
                        padding: 0;
                        margin: 0 12.5px;

                        >a {
                            color: #fff;
                        }

                    }

                }

                >div .disable {
                    cursor: not-allowed;
                    pointer-events: none;
                    opacity: 0.6;
                }
            }


        }
    }
}