.techSupport {
    .bg {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 20.83333vw;
    }

    .content {
        margin: 75px auto 0 auto;

        .map {
            min-height: 37vh;
        }

        .detail {
            white-space: pre-wrap;

            p {
                margin: 0;
            }

            >p:nth-child(1) {
                margin-top: 1.5vh;
                color: rgba(56, 56, 56, 1);
                font-size: 24px;

            }

            >p:nth-child(2) {
                color: rgba(80, 80, 80, 1);
                font-size: 16px;
                text-align: left;
            }

            >p:nth-child(3),
            >p:nth-child(4) {
                color: rgba(56, 56, 56, 1);
                font-size: 18px;
                text-align: left;
                margin-top: 3.5vh;
            }
        }
    }

    .link {
        white-space: pre-wrap;
        margin: 107px auto 0 auto;

        >p {
            color: rgba(56, 56, 56, 1);
            font-size: 22px;
        }

        >div {
            display: flex;
            line-height: 150%;
            width: 46.1vw;


            >div {
                padding-bottom: 4vh;
                text-align: left;
                line-height: 30px;
                p {
                    margin-bottom: 3vh;
                    color: rgba(56, 56, 56, 1);
                    font-size: 21px;
                    text-align: left;

                }
            }

        }
    }
}