html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background:#fff;
}
::-webkit-scrollbar {
  width: auto;
  height: 0px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*{
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus {
  background-color: transparent;
}
a:active,
a:focus,
input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}
menu,
ol,
ul {
  list-style: none;
}
nav ul,
nav ol {
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
  -webkit-touch-callout: none;
  vertical-align: bottom;
}
svg:not(:root) {
  overflow: hidden;
}
.none {
  display: none;
}
.clear {
  clear: both;
}
.scale {
  position: relative;
}

.ant-anchor {
  border: none;
}
/* .ant-layout-header .ant-menu {
  margin-left: 45%;
} */

.ant-menu-item-selected {
  background: rgba(0, 0, 0, 0.05);
  border: none !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border: none !important;

}
